@font-face {
    font-family: VictorMono;
    src: url(../fonts/VictorMono-ThinItalic.woff2);
}

body {
    margin: 16px;
    font-family: VictorMono;
    background-color: var(--third);
    color: var(--red);
}

:root {
    --white: #ffffff;
    --black: #000000;
    --red: #332c39;
    --resaltador: #ff1871;
    --first: #6096b4;
    --second: #93bfcf;
    --third: #bdcdd6;
    --four: #eee9da;
    --five: #eee9da;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}

.base {
    box-sizing: border-box;
    background-color: var(--four);
    margin-bottom: 24px;
    border-radius: 8px;
    padding: 16px 16px;
}

section {
    position: relative;
}

code {
    padding: 4px 8px;
    border-radius: 5px;
    font-family: 'Calibri';
    font-weight: 100;
    font-size: 11px;
}

.inactive {
    display: none;
}

td {
    border: 0.5px dotted var(--black);
    padding: 6px 6px;
    font-weight: normal;
    text-align: center;
}

.IsPrimo {
    background-color: var(--first);
    font-weight: bold;
    color: #1d1d1d;
}

code {
    font-weight: bold;
    font-size: 1.1rem;
    line-height: 28px;
    background-color: var(--first);
    color: #ffffff;
}

.oculto {
    display: none;
}

h2 {
    font-size: 1.2rem;
}

input,
select {
    background-color: var(--third);
    border: 0.5px solid var(--first);
    text-decoration: none;
    border-radius: 5px;
    padding: 4px 6px;
    font-weight: 900;
}

.copyright {
    bottom: 0px;
    left: 0;
    width: 100%;
    position: static;
}

html body div.copyright pre.pre span.code {
    color: var(--first);
    font-size: 20px !important;
}

li {
    margin: 4px;
}

b {
    background-color: var(--first);
    padding: 2px 8px;
    border-radius: 2px;
    border-color: var(--five);
}

.valorSumaDetalle {
    color: var(--resaltador);
}

c {
    font-size: 0.7rem;
}

.botones {
    border: 1px solid var(--third);
    padding: 6px 8px;
    margin-top: 16px;
    display: inline-block;
    border-radius: 5px;
    color: #1d1d1d;
    font-size: 14px;
    font-weight: 200;
    background-color: var(--third);
}

.botones > a {
    text-decoration: none;
}

a.github {
    margin-top: 16px;
    padding: 6px 6px;
    font-size: 0.7rem;
}

a.github:hover {
    border: 1px solid var(--third);
    border-radius: 5px;
    color: #1d1d1d;
    font-weight: 200;
    background-color: var(--third);
}

table {
    font-size: 0.8rem;
    font-weight: lighter;
    border: 1px solid var(--black);
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
}

th {
    padding: 8px 4px;
    font-size: 1rem;
}

@keyframes twinkle {
    0% {
        background: #58fc0c;
        font-weight: bolder;
    }
    100% {
        background: transparent;
    }
}
